body {
background-color:#999;
}

.description {
	display : none;
	
}





.dark-matter .cata {
	width : 300;
}

.image_galerie {
	width : 200;
	height : 200;
}



.galerie {
	text-align: center;
	position: absolute;
    float: center;
    max-width: 100%;
    height : 100%;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;	
     display: block;
    margin-left: auto;
    margin-right: auto;
}

.galerie h1 {
    padding: 10px 10px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}

.galerie .cata {
	  margin-left: 10px;
    margin-right: auto;
    margin-top : 20px;
border:1px solid black;
display:inline;
float: left;
width:340px;
background: #555;
text-align:center;
border-radius:7px;
}

.galerie img {
margin-top: 15px;
border-radius: 4px;
}

.bouton {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    margin-top : 5px;
    margin-bottom : 5px;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

 .bouton:hover {
    background: #555;
   color : #F2F201;
   cursor:pointer;
}

.galerie p {
   color : #F2F201;
}


.dark-matter {

    float: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
	color: #FFCC02;
    padding: 10px 10px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter input[type="file"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.dark-matter select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.dark-matter .button {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    margin :0px 0px 0px 120px;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.dark-matter .button:hover {
    color: #333;
    background-color: #EBEBEB;
    cursor:pointer;
}

.catalogue {
	max-width:640px;
margin: 0 auto;
position:relative;
    background: #555;
    padding: 20px 10px 20px 20px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}



.catalogue .photo {
	
border:1px solid black;
display:inline-block;
margin-right : 10px;
margin-top : 10px;
float: left;
width:200px;
background: #555;
border-radius:7px;
text-align:center;
vertical-align:middle;
}


.barre {
width:600px;
margin-left : 10px;
position : relative;
text-align:center;
display:inline-block;
}
	
 .boutons {
margin-right: 10px; 
margin-top: 30px;
display:inline-block;
vertical-align:middle;
text-align:left;


}

.petitbouton {
    background: #FFCC02;
    border: none;
    padding: 1px 2px 1px 2px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    margin :5px 0px 5px 0px;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

.petitbouton:hover {
    color: #333;
    background-color: #EBEBEB;
    cursor:pointer;
}
.titre {
	color: #FFCC02;
    padding: 10px 10px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
	
}

.megabouton {
	 position:absolute;
   top: 30%;
    left: 40%;

}
.dark-matter .grosbouton {
	width:150px;
	height:150px;
	background: #FFCC02;
    color: #585858;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
	
}

.grosbouton:hover {
    background: #555;
   color :  #FFCC02;
   cursor:pointer;
}

